<div class="my-5">
    <h2>Nosotros</h2>
    <p>In Angular, the best practice is to load and configure the router in a separate, top-level module that is dedicated to routing and imported by the root AppModule.
        By convention, the module class name is AppRoutingModule and it belongs in the app-routing.module.ts in the src/app folder.
    </p>

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of servicio; index as i">
            <h6>Nombre: {{item.nombre}}</h6>
            <h6>Especialidad: {{item.especialidad}}</h6>
            <a [routerLink]="['/equipo',i]">Leer más...</a>
        </li>       
    </ul>

</div>
